<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Tweet Runner</title>
 
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
    <script src="../static/js/game.js"></script>
    <link href="../static/css/style.css" rel="stylesheet">
    <!--<script src="../static/js/placeholdergame.js"></script>-->
    <!--<link href="../static/css/canvas_scaler.css" rel="stylesheet">-->

 
</head>
 
<body>
    <div class="hidden">
        <img src="../static/assets/s1.png"
             class="s1"
             />
        <img src="../static/assets/s2.png"
             class="s2"
             />
        <img src="../static/assets/s3.png"
             class="s3"
             />
        <img src="../static/assets/s4.png"
             class="s4"
             />
        <img src="../static/assets/s5.png"
             class="s5"
             />
        <img src="../static/assets/s6.png"
             class="s6"
             />
        <img src="../static/assets/s7.png"
             class="s7"
             />
        <img src="../static/assets/acorn.png"
             class="acorn"
             />
        <img src="../static/assets/enemy1.png"
             class="enemy1"
             />
         <img src="../static/assets/trojan.png"
             class="trojan"
             />
        <img src="../static/assets/background_tree.png"
             class="background_tree"
             />
        <img src="../static/assets/retweet.png"
             class="retweet"
             />
        <img src="../static/assets/bullet.png"
             class="bullet"
             />
        <img src="../static/assets/failure.png"
             class="failure"
             />
        <img src="../static/assets/foxnews.png"
             class="foxnews"
             />
        <img src="../static/assets/lawnmower.png"
             class="lawnmower"
             />
        <img src="../static/assets/cloud.png"
             class="cloud"
             />
    </div>

    <div class="spinner">
      <div class="rect1"></div>
      <div class="rect2"></div>
      <div class="rect3"></div>
      <div class="rect4"></div>
      <div class="rect5"></div>
    </div>
 
    <div class="canvas-div">
        <canvas class="animationCanvas"
            width="800"
            height="400">
        </canvas>
    </div>
</body>
 
</html>